<div id="container">
           <div id="header">
               <div id="navigation">
                   <span class="navTab"><a href="#">Gmail</a></span>
                   <span class="navTab"><a href="#">Images</a></span>
                   <span class="navTab">
                      <a href="#">
                        <%= image_tag 'noir.png' %>
                      </a>
                     </span>
                   <span class="navTab button"><a href="#">Connexion</a></span>
               </div>
           </div> <!-- end header -->

           <div id="content">
               <div id="image">
                    <%= image_tag 'logo.png' %>
                </div>

                <div>
                    <form id="searchForm">
                        <div id="searchFormDiv">
                            <input class="" type="search"/>
                        </div>
                        <div class="searchFormButton">
                            <button class="btn">Recherche Google</button>
                            <button class="btn">J'ai de la chance</button>
                        </div>

                    </form>
                </div>



           </div> <!-- end content -->

           <div id="footer">
                <div id="footerUp">France</div>
                <div id="footerDown">
                    <div id="footerDownLeft">
                            <span><a href="#">Publicité</a></span>
                            <span><a href="#">Entreprise</a></span>
                            <span><a href="#">À propos</a></span>
                    </div>
                    <div id="footerDownRight">
                            <span><a href="#">Info consommateurs</a></span>
                            <span><a href="#">Confidentialité</a></span>
                            <span><a href="#">Conditions</a></span>
                            <span><a href="#">Paramètres</a></span>
                    </div>
                </div>
            </div><!-- end footer -->


        </div> <!-- end container -->
